include pythonodejs/*.pyi
include pythonodejs/common.h
recursive-include include/node *
recursive-exclude include/node/out *
recursive-exclude include/node/.git *
global-exclude *.pyc
global-exclude __pycache__