include node/lib/*.lib
include node/lib/*.dll
include node/lib/*.so
include node/lib/*.dylib
include node/lib/*.a
include node/lib/*.o
include node/lib/*.sl
include node/lib/*.bundle

exclude node/lib/*.pdb
exclude node/lib/*.exp
exclude node/lib/*.ilk
exclude node/lib/*.131.dylib
exclude node/lib/*.131.so
exclude node/lib/*.so.131